header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 19.5%;
}

.logo {
    margin-right: auto;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat ExtraBold", sans-serif;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #6c15de;
}

.nav__links {
    list-style: none;
    display: flex;
}

.dropdown {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.dropdown button {
    background: none;
    border: none;
    color: white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}
    
.dropdown button:hover {
    color: #6c15de;
}